<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StarWars(Delegates&amp;Protocols.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF15E4EB1F22AADF00F593FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF15E4FF1F22AADF00F593FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF15E50A1F22AADF00F593FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
